/*****************主界面*****************/

#content{
    width: 830px;
    height: 1120px;
    padding: 30px;
    background-color: #edf0f5;
    overflow:auto;
    position: relative;
    margin: 0 25px 20px;
}

#content h2{
    color: #666666;
    font-size: 16px;
    padding: 15px;
    margin: 10px 0;
    background-color: #ffffff;
}

#main1{
    width: 100%;
    display: inline-block;
}

.row1_1{
    background-color: #ffffff;
    margin: 20px 0;
    width: 25.7%;
    height: 90px;
    float:left;
    padding: 20px;
}
.row1_2{
    margin-right: 30px;
}

.row1_1>h3{
    font-size: 14px;
    text-transform: uppercase;
    margin-bottom: 15px;
}

.row1_1 span{
    font-size: 16px;
}

.order_count{
    width: 100%;
    display: inline-block;
}

.order_money{
    width: 100%;
    display: inline-block;
}

.order_title{
    float: left;
}
.order_value{
    float: right;
    font-family: Rubik,sans-serif;
}

.yesterday span{
    color: #7cbd45;
}
.week span{
    color: #7261dc;
}
.twoweek span{
    color: #2199d5;
}

#main2{
    width: 100%;
    display: inline-block;
    height: 300px;
    margin: 20px 0;
}

#main2_left{
    width: 300px;
    float: left;
    height: 100%;
}

.row2_1{
    height: 15.6%;
    background-color: #fff;
    padding: 20px;
    text-align: center;
}
.row2_2{
    margin-bottom: 20px;
}
.row2_1 img{
    float: left;
    vert-align: middle;
    margin-right: 10px;
    padding-top: 5px;
}
.row2_1 span{
    padding-top: 10px;
}
.row2_2{
    vertical-align: auto;
}

#main2_right{
    width: 450px;
    height: 300px;
    float: right;
    background-color: #fff;
}

#main3{
    width: 100%;
    height: 400px;
    background-color: #fff;
    display: inline-block;
    margin: 10px 0;
}

#bchart{
    margin: 20px 0;
}