#content{
    width: 830px;
    margin: 0 25px;
}

#menu_info{
    width: 600px;
    margin: 0 auto;
}

fieldset>legend{
    font-size: 24px;
    padding: 10px;
    margin: 20px;
    width: 100%;
    border-bottom: 1px solid #666666;
}

.icon{
    margin: 20px;
    font-size: 16px;
}

.icon>input {
    border: 1px #aaaaaa solid;
    border-radius: 5px;
    height: 45px;
    width: 100%;
    padding-left: 55px;
    padding-right: 10px;
}

#recipe_name{background: url("../image/recipe_name.svg") 10px 5px no-repeat;}
#recipe_price{background: url("../image/recipe_price.svg") 10px 5px no-repeat;}
#recipe_remain{background: url("../image/recipe_remain.svg") 10px 5px no-repeat;}
#recipe_discount{background: url("../image/recipe_discount.svg") 10px 5px no-repeat;}

.icon>textarea{
    height: 160px;
    background: url("../image/recipe_notice.svg") 10px 5px no-repeat;
    border: 1px #aaaaaa solid;
    border-radius: 5px;
    width: 100%;
    padding: 10px 10px 10px 55px;
}

.update_file {
    position: relative;
    display: inline-block;
    background: #D0EEFF;
    border: 1px solid #99D3F5;
    border-radius: 4px;
    padding: 4px 12px;
    overflow: hidden;
    color: #1E88C7;
    text-decoration: none;
    text-indent: 0;
    float: left;
}
.update_file input {
    position: absolute;
    font-size: 100px;
    right: 0;
    top: 0;
    opacity: 0;
}
.update_file:hover {
    background: #AADFFD;
    border-color: #78C3F3;
    color: #004974;
    text-decoration: none;
}

.file{
    margin: 10px 20px;
}

.file_path input{
    border: 1px #aaaaaa solid;
    border-radius: 3px;
    height: 30px;
    width: 430px;
    float: left;
    margin-left: 40px;
}

.menu_img{
    width: 100%;
    height: 300px;
    margin-top: 20px;
}

.recipe_submit button{
    width: 120px;
    height: 40px;
    background-color: #004974;
    color: white;
    border-radius: 3px;
    margin: 10px 20px;
}

#back{
    float: right;
}

#ok{
    float: right;
    margin-right: 50px;
}