*{
    padding: 0;
    margin: 0;
    border: 0;
    list-style-type: none;
    /*去掉所有文本标签下划线*/
    text-decoration: none;
}

/*****************中间*****************/
#main{
    width: 1100px;
    margin: 0 auto;
    display: flex;
}

/*****************左侧导航条*****************/

#sidebar{
    width: 200px;
    height: 165px;
    background-color: #eeeeee;
}

#sidebar ul{
    font-size: 15px;
}

#sidebar ul>li{
    font-weight: bold;
    padding: 10px 30px;
}

#sidebar ul>li a{
    font-weight: bold;
    color: black;
}

#sidebar ul>li:hover{
    cursor: pointer;
}

.click{
    background-color: #cc4135;
    color: white;
}